@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap");

:root {
  --gray: #7d7d7d;
  --blue-dark: #0b1120;
  --blue-light: #273b47;
  --green: #85b336;
  --yellow: #f8cc32;
  --skyblue: rgba(56, 189, 248, 1);
  --inter-font: "Inter", sans-serif;
}

body {
  background: var(--blue-dark);
  display: flex;
  justify-content: center;
  text-align: center;
}

#root {
  width: 100%;
}

.reactive-canvas {
  box-shadow: 0px 0px 30px -1px var(--skyblue);
  background: var(--blue-dark);
  border-radius: 25px;
  cursor: crosshair;
}

.web-title {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.restart-button {
  background-color: var(--green);
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  font-family: var(--inter-font);
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 20px 5px rgba(133, 179, 54, 0.15);
  margin-top: 2.2rem;
}

.restart-button:hover {
  box-shadow: 0px 0px 20px 5px rgba(133, 179, 54, 0.25);
}
